#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  /* Declaracion de colores */
  --main-bg-color: #161539;
  --button-blue: #4da9ff;
  --button-blue-hover: #80c1ff;
  --bg-purple: #575583;
  --top-bar-color: #25225d;
  --top-bar-hover: #817dcf;
  --darker-top-bar-color: #161538;

}

.main-div {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  margin: 0;
  display:flex;
}