.main {
    border: 2px solid white;
    width: 360px;
    padding: 20px;
    border-radius: 30px;
    background: var(--main-bg-color);
    position: absolute;
    visibility: none;
    z-index: 2;
}

.grid {
    width: 360px;
    display: grid;
    grid-template-columns: 160px 200px;
    grid-template-rows: repeat(9, 30px);
    row-gap: 10px;
}

.description {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    resize: none;
}

.text {
    color: white;
    margin-top: 0;
}

.buttons {
    display: flex;
    width: 360px;
    justify-content: flex-end;
    margin-top: 10px;
}

.button {
    margin-left: 10px;
    background: var(--button-blue);
}

.button:hover {
    background: var(--button-blue-hover);
}

.counter {
    height: 30px;
    margin: 0;
    justify-self: flex-end;
    margin-right: 5px;
}